.country-name {
  text-align: center;
  padding: 60px 0;
  background: #1c82ad;
  color: white;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
}

.country-singer {
  margin-bottom: 20px;
  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .singer-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;

    .singer-item {
      cursor: pointer;
      .singer-image {
        width: 150px;
        height: 150px;
        border: 0.5px solid gray;
        border-radius: 75px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 75px;
        }
      }

      .singer-name {
        width: 150px;
        text-align: center;
        font-size: 18px;
        margin-top: 5px;
      }
    }
  }
}

.country-album {
  margin-bottom: 20px;
  .title {
    font-size: 24px;
    font-weight: 700;
  }
}

.country-song {
  margin-bottom: 20px;
  .title {
    font-size: 24px;
    font-weight: 700;
  }
}
